.grid-container{
    margin: 0vh 10vw;
    border-radius: 10%;
    display: grid;
    grid-template-columns: 150px repeat(6, 1fr);
    grid-auto-rows: 19vh 19vh 19vh 19vh;
    gap: 5px;
    height: 60vh;
    width: 70vw;
}
.grid-item{  
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: rgba(69, 245, 107, 0.404);
}

#item-2{
    /* grid-row: span 2;
    grid-column: span 3; */
}
#item-3{
    /* grid-row: span 2;
    grid-column: span 3; */
}

#item-6{
    /* grid-row: span 2;
    grid-column: span 2; */
}
#item-7{
    /* grid-row: span 2;
    grid-column: span 2; */
}
#item-8{
    /* grid-row: span 2;
    grid-column: span 2; */
}
